.macButtons {
  height: 9%;
  background-color: #101022;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.close {
  background: #ff5c5c;
  font-size: 9pt;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
  margin-left: 12px;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
  margin-left: 12px;
}

.maximize {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
  margin-left: 12px;
}

.buttons {
  padding-left: 8px;
  padding-top: 3px;
  float: left;
  line-height: 0px;
}

.buttons:hover a {
  visibility: visible;
}