@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Roboto, sans-serif;
}